meta(charset="utf-8")
meta(name="description",         content="Nyadoi Oh. So. Cute.")
meta(name="keywords",            content="Nyadoi, Vtuber, Taiwan, 喵朵伊, pro, cute")
meta(name="author",              content="linnil1")
meta(name="viewport",            content="width=device-width, initial-scale=1.0")
meta(name="twitter:card",        content="summary")
meta(name="twitter:title",       content="喵朵伊 就。很。Cute")
meta(name="twitter:description", content="喵朵伊 就。很。Cute 的非官方網站 Nyadoi Oh. So. Cute Website(Non-official)")
meta(name="twitter:image",       content="https://nyadoi.linnil1.me/" + require("./nyadoi_pixel.webp").default)

link(rel="icon", type="image/png", href=require("./nyadoi_pixel.webp").default)
title 喵朵伊 就。很。Cute

.nyadoi
  p.name 喵朵伊
  p.bigword 就。很。Cute
  .descr
    p 這是喵朵伊
    p.split ，
    p 超級可愛
    p.split ，
    p 如果你沒看過
    p.split ，
    p 現在給你看看
  p.link
    a(href="https://www.youtube.com/channel/UC7VNrZqdH_t8dLMdrp0NrJQ")
      | Youtube
      span: img.icon(src=require("./yt_icon_rgb.png").default)
      | 喵朵伊ニャドイchannel
  p.link
    a(href="https://twitter.com/iloveNyadoi1314")
      | Twitter
      span: img.icon(src=require("./2021 Twitter logo - blue.png").default)
      | iloveNyadoi1314
  img.figure(src=require("./no-padding-nyadoi.png").default)

script(async src="https://www.googletagmanager.com/gtag/js?id=G-ZFL61HP5Q3")
script: include ./googletrace.js
-var css=require("./index.styl")
style.
  #{css.default.toString()}
